[2020-03-21 19:07] clhenrick opened #1 "Carto table not picking up new form entries"
For some reason the Carto table that's syncing with our Google Sheet is only picking up the first 80 entries. As such, new form responses are not being displayed on the map.

[2020-03-21 19:38] #1 closed

[2020-03-21 19:46] clhenrick opened #3 "Title and description blocks pop-up content"
Example:

<img width="608" alt="Screen Shot 2020-03-21 at 12 45 10 PM" src="https://user-images.githubusercontent.com/161748/77235308-db1feb00-6b71-11ea-99a3-75b8ddd85d0c.png">

One temporary solution could be to use the [`<details>` element](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/details) to collapse the description to reduce the amount of space it takes up.

[2020-03-21 19:47] clhenrick opened #4 "Form response edits / updates are not being synced in Carto"
Seems to be a problem with Carto's sync feature.

[2020-03-21 21:22] clhenrick opened #5 "Pop-up content may not fit in some device viewports"
Example:
![Screen Shot 2020-03-21 at 14 21 35](https://user-images.githubusercontent.com/161748/77236826-4fad5680-6b7f-11ea-9807-80a2e21210f1.png)

One quick solution would be to make the popup content a fixed height and scrollable

[2020-03-23 17:46] clhenrick commented on #4
Resolved via #6

[2020-03-23 17:46] #4 closed

[2020-03-24 17:29] erinmcel opened #7 "Distinguish counties from cities"
We could make counties squares or triangles, and perhaps slightly larger. It would be great too if counties could be lower on the z-index, so that it is apparent that cities are contained within them.

[2020-03-24 17:31] erinmcel opened #8 "Most recent submissions for existing geographies should replace or overlay existing ones"
We are getting multiple submissions for similar geographies, ie. the state of Oregon. It would be great if the most recent submission could be visible one, as things change quickly and the most recently added submission will likely reflect the current state of things.

[2020-03-24 19:00] erinmcel opened #9 "Lat lon form entry is hard and clunky"
We've had feedback that entering coordinates manually is hard (now only impacting the non-US form)

We could embed a script such as this into the google form, which we've done in our crowdsourced map of lost art spaces in the Bay Area (https://www.antievictionmap.com/art)

function getLat(address) {
if (address == '') {
Logger.log("Must provide an address");
return;
}
var geocoder = Maps.newGeocod

[2020-03-24 20:42] clhenrick opened #10 "Update Google Form: add field for feedback"
So that any complaints or other non-policy info can be added and not show up on the map

[2020-03-24 21:42] clhenrick commented on #7
Adding a legend would be good as well, so that people understand what the different shapes mean.

[2020-03-24 22:00] clhenrick opened #11 "Improved Color Scheme"
Currently the pink / green diverging color scheme is a bit misleading, as it seems to imply positive or negative conditions of a policy, when in fact policies are much more complex.

From Elana:

We could experiment with more than two colors, either diverging or perhaps categorical, to more robustly reflect policies.

[2020-03-24 22:05] clhenrick opened #12 "Add new Google Form for rent strikes & resistance actions"
Needs a data schema, and should use a similar implementation to the policies form & sheet.

[2020-03-24 22:05] clhenrick commented on #10
Will require updating the Google sheet used by the map as well.

[2020-03-25 18:45] theecrit commented on #11
Just a note to also bear in mind [color contrast ratios for accessibility compliance](https://webaim.org/resources/contrastchecker/).

[2020-03-26 01:11] goldfarb commented on #10
Updated to include an `Other Feedback` field

![image](https://user-images.githubusercontent.com/3722037/77600082-2709c180-6edd-11ea-8363-ee17c79829a7.png)

[2020-03-26 01:21] erinmcel commented on #9
Actually just found an add-on that works easier: https://support.awesome-table.com/hc/en-us/articles/360000141365-Walkthrough-Automatically-Geocode-Form-Entries

[2020-03-26 01:38] #10 closed

[2020-03-26 22:34] clhenrick commented on #7
Alternatively we could (and probably should) render counties as polygons, not as points. This is especially important for counties that cover large geographic areas, such as Los Angeles County.

[2020-03-27 03:03] #3 closed

[2020-03-27 03:03] #5 closed

[2020-03-27 04:08] erinmcel commented on #11
Today we realized that there are 3 distinct types of protections: moratorium, court closure, and legal defense. Research folks are down to categorize the existing entries so that we could better visually distinguish if that makes sense.

[2020-03-27 04:38] unixjazz opened #16 "Add internationalization support"
I would like help w/ translations! I was wondering what library / framework you would like to use to facilitate the internationalization of the project?

Some of the translation work started here on various languages (for the form + interface):
[Wikimedia Etherpad: Emergency Tenant Protection Intl](https://etherpad.wikimedia.org/p/emergency-tenant-protection-intl)

(using a pad, however, is not id

[2020-03-27 17:36] clhenrick commented on #16
Hi @unixjazz! Thanks for the offer and for starting this work.

One piece that makes this somewhat complicated is that we'll need to handle translation of crowd sourced submissions (the info that appears after clicking on a polygon or circle in the map). This could either be done manually in the Google Sheet that contains the form responses, or on the perhaps on the fly using something like Google

[2020-03-27 20:58] erinmcel commented on #16
Amazing! We also have another form we need translated for rent strikes if you're game :)

[2020-03-28 02:00] erinmcel commented on #12
We can add this link to the text box for those who want to enter rent strikes: https://forms.gle/QDRYxyhCyUGP5oAL9. The geocoder is ready. I can also set up a geocoder on the tenant protection form.

[2020-03-28 02:11] erinmcel commented on #12
So an idea for text for the text box, minus color related things, is:

` Where United States officials
            <strong class="color-passed">have passed</strong> (or tenants are
            <strong class="color-yet-to-pass">working to pass</strong>)
            emergency tenant protections during the COVID-19 crisis. Global map
            coming soon!
          </p>
          <p>
            <

[2020-03-28 02:11] #12 closed

[2020-03-28 02:22] erinmcel opened #17 "Need to focus on Bay Area section of the map for the BARS site"
@clhenrick mentioned we could URL hash or query params. If we can get an iframe embed of this soon, they could use it in the site they're mocking up even if our map isn't ready yet. Their site will go live April 1st.

[2020-03-28 02:54] erinmcel commented on #16
Chinese version of the form here: https://pad.riseup.net/p/_5O-cw9DTBD7gsl-w3GT-keep

[2020-03-28 04:27] goldfarb commented on #7
[initial fix](https://github.com/antievictionmappingproject/covid-19-map/tree/counties)
Separated the cities & counties. For the time being, I used circles for the counties as well, as other shapes were hectic visually.

[2020-03-28 16:37] goldfarb opened #18 "Layer Order"
If the geography layers (cities, counties, states) are deselected and then reselected, they appear in the order they are turned on.

The cities should be the top layer, the states the bottom layer, and counties in between.

[2020-03-29 04:11] timhitchins commented on #18
PR #20 has the layers in this order.

[2020-03-29 18:28] sraby commented on #8
From trello

https://trello.com/c/a8P4qgpd/13-most-recent-submissions-for-existing-geographies-should-replace-or-overlay-existing-ones

[2020-03-29 18:28] #8 closed

[2020-03-29 23:42] unixjazz commented on #16
Hi @clhenrick, @erinmcel: I hear you, internationalization is far from trivial. I really wish I could help more, but I am not a web developer myself. [Here](https://github.com/unixjazz/covid-19-map/commit/ea08ba974b498f3ad2f93f23de7a3bb77b3e3c06) I tried to take the easy (and quick) route by redirecting the user to the translated page + form based on the [browser locale](https://unixjazz.github.io

[2020-03-31 18:24] timhitchins opened #24 "Layer conflicts for duplicate point geometries (lat/lon)"
Posting this here assuming PR # 21 will be merged or if other point layers are added to the map.
Layer conflicts are occurring where there are duplicate point geometries.  This is causing an inability to click on a the layer at the lesser z-index.  For example Freemont has records in the rent strike layer and the city moratoriums layer.  Since the rent strike layer is above the city layer, the cit

[2020-04-02 17:20] erinmcel opened #26 "iframe embed for BARS site is not mobile responsive"
Current embed with hash is: iframe width="600px" height="600px" src="<https://antievictionmappingproject.github.io/covid-19-map/#lat=37.8&lng=-122.45&states=false&rentstrike=true&z=11">/iframe

Need to make it mobile responsive, particularly as the width is too wide right now.

Might need 100% width and explicit height

[2020-04-02 22:37] erinmcel opened #27 "Need to add link to resources in the text box"
We could add these:

For tenants rights resources from Tenants Together, [click here. ](https://docs.google.com/document/d/1G-n_wK1JXuNHc2drqFjq3JdY-8ILG343zvbM5q8Ykx8/edit?fbclid=IwAR2A2royDMtVAM6b6yYM5GkMGhwmD0Lm5Ploz2lDcL2jIBpqxJ3OkebAef0)

For resources on rent striking, [click here](https://thenewinquiry.com/rent-strike-2020/).

[2020-04-04 19:00] #26 closed

[2020-04-04 19:01] clhenrick commented on #17
Resolved in #22

[2020-04-04 19:01] #17 closed

[2020-04-05 17:32] clhenrick commented on #26
[Example responsive iframe embed](https://gist.github.com/clhenrick/aa325ea3bcc72371bfca7d9a51273fa4) for reference.

[2020-04-06 02:59] erinmcel opened #31 "Remove landlord info from rent strike popup field."
It's probably better to keep that private.

[2020-04-08 06:41] erinmcel commented on #31
Working on this now. We were asked to replace landlord info with resources on the public interface.

[2020-04-08 06:45] erinmcel commented on #16
Here is Portuguese and German for the rent strike form: https://pad.riseup.net/p/_5O-cw9DTBD7gsl-w3GT-keep

[2020-04-08 17:11] clhenrick commented on #16
Thanks @unixjazz for the example and suggestions. I think we can (and should) avoid duplicating the HTML structure by using a JS library like [i18next](https://www.i18next.com). Even though our site isn't too complex now, I think it's important to choose a solution that helps it scale as it grows in complexity.

[2020-04-10 22:30] river-honer commented on #18
Hello :) I am making an MR for this.

[2020-04-10 22:48] river-honer commented on #18
I'm not super familiar how you operate but I made a PR for this. I have manually tested. It's ready for review :)

[2020-04-11 22:36] clhenrick commented on #31
Fixed in #35

[2020-04-11 22:36] #31 closed

[2020-04-11 22:38] clhenrick commented on #18
Thanks @river-honer! We have a Trello board and a Slack group, if you're interested send me an email and I can talk with our group about adding you.

[2020-04-11 22:38] clhenrick commented on #18
Related: here's the [open issue describing the Leaflet layers control z-index bug](https://github.com/Leaflet/Leaflet/issues/5201)

[2020-04-12 02:46] clhenrick commented on #18
Resolved in #37

[2020-04-12 02:46] #18 closed

[2020-04-12 02:57] clhenrick commented on #27
added in #32

[2020-04-12 02:57] #27 closed

[2020-04-12 03:00] clhenrick opened #38 "iframe embed breaks on desktop"
The iframe embed in [Bay Area Rent Strike breaks / is janky](https://bayarearentstrike.org/) when viewing the BARS site on desktop with the title content box expanded:

![image](https://user-images.githubusercontent.com/161748/79059439-e4f7b400-7c2e-11ea-9907-fc8a678383cb.png)

Right now I think we have a CSS `max-height` set on the title box and `overflow-y: auto` for the `div` that holds the con

[2020-04-12 20:21] unixjazz commented on #16
@clhenrick: I totally agree! You need something that can scale for the global map. I think there is a similar problem with respect to Google forms: you would have to create a different form for each translation (otherwise you will end up overloading the UI).

I have been thinking about this problem. I will report here as soon as I have something to share.

[2020-04-13 08:20] river-honer commented on #38
I will take a peek in to this today.

[2020-04-13 09:21] river-honer commented on #38
I made an MR which fixes this problem without having to drown in mediaqueries, and which makes the vertical size of the info container on the left more consistent :)

[2020-04-13 20:47] clhenrick commented on #38
Thank you @river-honer! Will take a look sometime today or tomorrow.

[2020-04-14 09:26] river-honer commented on #24
I have investigated this a little bit.

I have found that we can increase the distance of "spiderfied" markers using the `spiderfyDistanceMultiplier` option in the marker cluster definition. This pushes the markers farther away from the centre which would make no marker itself conflict with the underlying city circle. But apparently the dimmed cluster marker is still above the city circle so it ca

[2020-04-14 18:17] timhitchins commented on #24
@river-honer Thanks for the detailed and thoughtful investigation of this issue!  I personally did not know about the `spiderfyDistanceMultiplier`, although as you point out that would not solve the issue.  After the last meeting with other contributors of the project (I believe @clhenrick mentioned there is crew that meets to discuss the future development of this project) , it seems that folks a

[2020-04-14 19:09] clhenrick commented on #24
Thanks @river-honer, in addition to what @timhitchins has mentioned another solution could be placing a UX constraint in the map so that rent strikes could not be turned on simultaneously as the policy layers. IMO web maps too often suffer from the problem of "too many layers", and people asking for web maps often want the ability to turn on all the layers at any given time. This makes it difficul

[2020-04-14 22:50] erinmcel opened #40 "Add global data to the map"
The global data is being compiled, but we need to find a way to integrate it into the map. We should figure out if we want to change the tenant protection form itself to take country information, or if there should be two forms, one for the US and one for beyond the US.

[2020-04-14 22:56] erinmcel opened #41 "Change color schema to hold 3 colors instead of 2"
The research team is coding the tenant protections to be either good, mediocre, on not yet passed. So we will need to change color schemas and the boolean coding to take 3 genres of protections instead of 2.

[2020-04-14 22:57] #41 closed

[2020-04-14 23:02] erinmcel commented on #16
Paul is now going to create individual google forms for each language. So this can be a temporary fix.

[2020-04-15 07:42] river-honer commented on #24
Thanks for all the feedback. One thing that is already an instance of the "too many layers problem" in my opinion is that the state is always directly behind everything, so it catches all inaccurate clicks. I find it strange that when fully zoomed in the state shape is always there. But like you said @clhenrick fixing these problems would require some UI/UX planning. When there is a spec for that

[2020-04-15 22:57] erinmcel commented on #40
We also want to add a way for folks to add local orgs and their websites

[2020-04-16 14:28] c-i-v-i-m commented on #38
I finally got around to checking this out. I don't love the hardcoded pixel-based max height in the proposed solution, hardcoded scroll property for details elements.

Tried to give it a go keeping things as simple as possible: https://github.com/antievictionmappingproject/covid-19-map/pull/42

[2020-04-16 14:50] river-honer commented on #38
I liked your solution. Left one comment about scrolling.

[2020-04-16 20:29] clhenrick commented on #40
Noting that we still need to scope & define what "global data" means, how the data is handled compared to existing U.S. data, and to determine any UI/UX needs.

[2020-04-16 23:30] clhenrick opened #44 "Map doesn't render on IE11 browser"
Due to the ES6+ syntax in `script.js`. However #28 should resolve this as it will transpile ES6+ to ES5.

I feel that we should at least support IE11 and Edge, anything lower than IE11 is probably not worth worrying about, but open to others thoughts on this.

[2020-04-18 15:12] c-i-v-i-m commented on #40
Do you have any particular considerations in mind. Some things I recall from our call:
- LTR vs RTL
- Date I18n
- Pluralization

- New content creation process (copywrite -> translate -> release vs. copywrite -> release -> translate)
- Dictionary editing (translation workflow: do we want the dictionary to only be editable by devs or provide some sort of access to translators?)

Perhaps, we can sta

[2020-04-18 18:05] clhenrick commented on #40
@c-i-v-i-m I think we should tackle the issue of i18n separately from integrating global data. For this feature, we're focusing on adding data to the map for other countries. Language translation will be needed, but I think it's worth discussing separately. See issue #16

[2020-04-22 02:46] erinmcel opened #46 "Markers not showing up when zoomed out"
When we zoom out, you can only see Guam for instance if you scroll right (east), not if you scroll left (west). Does it make sense to constrain the parameters and zoom more?

![Screen Shot 2020-04-21 at 7 44 10 PM](https://user-images.githubusercontent.com/8007917/79935026-bb960f80-8408-11ea-946f-9c873990d4f4.png)

[2020-04-22 03:01] clhenrick commented on #11
Inspiration from the NY Times for a "stop light" color palette that is a bit more accessible:

![image](https://user-images.githubusercontent.com/161748/79935819-b2a63d80-840a-11ea-96f5-f2d5a55ed491.png)

Although in this palette red stands out the most, is that what we would want to highlight in our map (deficits)? Or would we want the green to be stronger to highlight positive aspects? Or weight

[2020-04-22 03:02] clhenrick commented on #7
Fixed in #36

[2020-04-22 03:02] #7 closed

[2020-04-22 03:06] clhenrick commented on #24
@river-honer agree that a toggle between rent strikes and protections would make sense, that's kind of what I had in mind for separating the layers using tabs in a sidebar.

We could experiment with hiding and showing geographies at certain zoom levels, i.e. at a certain zoom threshold hide the states layer. Given that we'll likely be adding countries at some point to make the map global in scope,

[2020-04-22 17:29] river-honer commented on #46
Hey @erinmcel I made a fix for this with the ideas you had to constrain the bounds and put a min zoom, there's some example screens in the PR.

[2020-04-22 19:14] clhenrick opened #48 "Add a Code of Conduct"
Given the amount of enthusiasm this project is generating, adding a CoC would be a good idea, which we've discussed a bit in Slack already.

Easiest route to go with adding one would be to use the [contributor-covenant](https://www.contributor-covenant.org/) which even has an [`npm` CLI tool](https://www.npmjs.com/package/covgen) for adding it to your project.

Open to other formats as well, cc @r

[2020-04-22 22:33] erinmcel opened #49 "Rent strike colors"
I wonder if we really need to disaggregate between possible and definite rent strikes in terms of colors? Might it make things simpler to just have one color for all rent strikes, which would be the same color as the clusters themselves? That way we don't have orange and blue houses, along with yellow clusters?
![Screen Shot 2020-04-22 at 3 32 13 PM](https://user-images.githubusercontent.com/80079

[2020-04-22 22:33] erinmcel commented on #46
Amazing @river-honer !

[2020-04-23 00:09] timhitchins commented on #49
@erinmcel This would be a very simple fix.  We just need settle on a color.

[2020-04-23 00:13] timhitchins commented on #48
Whoa, I didn't know about the contributor-covenant npm CLI tool.  This definitely seems like an easy route to take and considering the growing list of issues/requests to address, easy is good imo.

[2020-04-23 00:23] erinmcel commented on #49
Great! Maybe we can figure it out after figuring out the additional color that will be used for tenant protections?

[2020-04-23 00:54] theecrit commented on #11
@erinmcel "good, mediocre, on not yet passed" mixes metrics, no? Seems like there's factual (full protection [whatever that means], partial protection, no protection), and quality (good, mediocre, poor).

FWIW, the (WebAIM link color contrast checker)[https://webaim.org/resources/linkcontrastchecker/] accommodates three colors so would be a good tool to check against a11y.

[2020-04-23 01:29] erinmcel commented on #11
@theecrit yes agreed! @azadag has come up with a better way to disaggregate textually.

[2020-04-23 01:53] c-i-v-i-m commented on #48
Yup. I'm all for this.

[2020-04-23 04:09] clhenrick commented on #48
Guess then we just need to decide who’s email should be included in it?
Perhaps the General AEMP email address? @erinmcel?

On Wed, Apr 22, 2020 at 6:53 PM CI.V:IM <notifications@github.com> wrote:

--
-Chris
clhenrick.io

[2020-04-23 04:30] clhenrick commented on #11
@theecrit the WebAIM color contrast checker tool appears to be useful for evaluating the contrast of text & link text color against the background color that the element the text is on top of, not for evaluating accessibility of a color scheme for visualization. There are some data vis specific color tools out there that do evaluate color contrast for palettes used in graphics such as maps and cha

[2020-04-23 04:34] clhenrick commented on #49
+1 @erinmcel think this would be good to do.

[2020-04-23 05:34] erinmcel commented on #48
That sounds good to me! antievictionmap at riseup dot net

[2020-04-23 15:50] #46 closed

[2020-04-23 16:17] theecrit commented on #11
@clhenrick Yes, it's intended for link text specifically, but in a pinch can be used to evaluate the ratio between any three colors. My initial search didn't turn up something specific to a full palette, but I've since found one from [Deque](https://color-contrast-checker.deque.com/) and
[this accessible palette builder](https://toolness.github.io/accessible-color-matrix/) based on work from 18F.

[2020-04-23 17:17] clhenrick commented on #11
Gotcha, thanks for clarifying @theecrit.

The [Color Brewer tool](https://colorbrewer2.org/) has some accessible palettes predefined that we could use. We'll probably want either a diverging or sequential color palette for 3 classes that's limited by the "color blind safe" option selected. Or if you have suggestions for other accessible palettes that convey "poor", "okay", and "good" that would be

[2020-04-24 00:19] c-i-v-i-m commented on #49
Just noting that I'm going to try to tackle this over the next few days. Aiming for a dark grey color.

[2020-04-24 00:22] timhitchins commented on #49
Awesome!  @CI.V:IM here is the noun project page I used:
https://thenounproject.com/search/?q=house%20strike&i=1831609  I can give
you access to our acct to download what you need.  Also here are the docs
for the leaflet marker cluster:
https://github.com/Leaflet/Leaflet.markercluster

On Thu, Apr 23, 2020 at 5:19 PM CI.V:IM <notifications@github.com> wrote:

[2020-04-24 00:37] c-i-v-i-m commented on #49
Awesome thanks!

I might need access to the account. Do you know if that would allow me to grab an svg version? Otherwise, I can just grab the black png and change the color in Gimp (no need for the account).

Just took a few minutes to check out the code and it seems pretty simple. Basically:

- Get the marker image, color it appropriately, remove existing marker pngs.
- Remove the definition for

[2020-04-24 05:30] timhitchins commented on #49
@CI.V:IM I dm'd you the noun project creds on Slack.  Regarding the rent
strike layer update, yes it should hopefully be pretty simple and the tasks
you bullet-pointed match my thinking on the process as well.  Looking back,
I probably should have just used an svg icon (which you can feel free to
do) so other contributors could just edit the color on that instead of
relying on various pngs.  Also,

[2020-04-24 21:44] c-i-v-i-m commented on #49
So it turns out the popup already displayed the status as yes/unsure.

Otherwise, I created a PR (https://github.com/antievictionmappingproject/covid-19-map/pull/53) which addresses:
 - Updated to single svg icon.
	 Getting SVG icons to display as svgs (rather than img tags) in order to be able to style them was a bit more complicated then expected. The Icon class displays the icons in img tags, w

[2020-04-25 18:44] river-honer commented on #49
This all looks nice, matching the marker colour to the icons looks nice.

[2020-04-25 19:02] #48 closed

[2020-04-27 18:15] river-honer commented on #40
I'm currently working on this issue. Adding the global states and provinces layer, and nations.

[2020-04-29 01:33] clhenrick commented on #38
Fixed via #42

[2020-04-29 01:33] #38 closed

[2020-04-30 19:58] erinmcel opened #57 "Need a global embed"
This is the local embed for the Bay Area `<style>
  #aemp-covid19-map-wrapper {
	position: relative;
	width: 900px;
	height: 600px;
  }
  #aemp-covid19-map-wrapper > iframe {
	position: absolute;
	width: 100%;
	height: 100%;
  }
  @media (max-width: 901px) {
	#aemp-covid19-map-wrapper {
	  width: 100%;
	  height: 75vh;
	}
  }
</style>
<div id="aemp-covid19-map-wrapper">
  <iframe
	id="#aemp-covid1

[2020-04-30 20:50] timhitchins opened #58 "Marker clusters can be confusing to users"
(Note this issue is tangentially related to PR #60 (originally #53) and this issue may be addressed there.)

Per user feedback, the marker clusters are confusing for these reasons:
- Numbers in the markers don't make sense.
- Users are not sure what the markers and their colors actually represent.  (Note that #60 will update the color of the icons and the markers to be the same color.  This may pa

[2020-05-01 02:20] c-i-v-i-m commented on #58
I'm somewhat confused by the users' confusion. As far as I can tell, the numbers correctly capture the number of strike actions. Do we just need a more visual legend? "Circle = multiple strike actions (click to expand), House = strike action" (but we actually use the icons).

Is the issue the maxClusterRadius?

[2020-05-01 03:23] timhitchins commented on #58
@c-i-v-i-m This was brought up in our meeting today.  I think the main issue was that the variations of colors of the cluster icons in addition to the colors of the rent strike icons confused users.  On top of that they weren't sure if the numbers in the marker clusters represented something different that the number of clustered points.   IMO I believe that your #53 will solve the confusion becau

[2020-05-01 07:47] erinmcel commented on #57
`<iframe` id="#aemp-covid19-map-embed" frameborder="0" src="https://antievictionmappingproject.github.io/covid-19-map/#lat=20&lng=40&states=false&rentstrike=true&z=0" width="100%" height="700"></iframe>`

[2020-05-01 19:45] erinmcel commented on #57
(Basically we want to embed a global version on the AEMP site)

[2020-05-01 20:21] c-i-v-i-m commented on #58
@timhitchins  ok sweet. Let's wait until #53 rolls out an reassess then.

[2020-05-01 20:25] timhitchins commented on #58
Sounds good @c-i-v-i-m.

On Fri, May 1, 2020 at 1:21 PM CI.V:IM <notifications@github.com> wrote:

[2020-05-04 15:19] #40 closed

[2020-05-04 20:26] clhenrick commented on #57
For the global version on the AEMP site, would it just show nations and rent strikes?

If so you could use the same embed code and just change the URL in the `iframe` to:

[code]

Note that currently the map restricts the min zoom level to 3, so if we want to be zoomed out further than that we would just need to [update the part of the `script.js` that sets that](https://github.com/antievictionmap

[2020-05-04 20:59] erinmcel commented on #57
Oh cool, this definitely works! It would perhaps make sense to show cities and states true too then, like this:

https://antievictionmappingproject.github.io/covid-19-map/#lat=20&lng=40&z=3&states=true&cities=true&nations=true&rentstrike=true

[2020-05-04 21:48] clhenrick commented on #57
For sure, just keep in mind that any country with 100% state/province
coverage will cover up its nation polygon which may be confusing to people
as the nations will always be the bottom most layer. But I think the US and
Canada are the only such countries at the moment where this would be the
case.

On Mon, May 4, 2020 at 2:00 PM Erin McElroy <notifications@github.com>
wrote:

--
-Chris
clhenrick.

[2020-05-04 21:51] erinmcel commented on #57
Ah, makes sense! Thanks for this :)On Mon, May 4, 2020 at 2:48 PM Chris Henrick <notifications@github.com> wrote:

For sure, just keep in mind that any country with 100% state/province

coverage will cover up its nation polygon which may be confusing to people

as the nations will always be the bottom most layer. But I think the US and

Canada are the only such countries at the moment where this w

[2020-05-06 03:15] clhenrick commented on #58
Currently we're looking to use an orange / orange-red color for the rent-strike markers:

![Screen Shot 2020-05-05 at 1 15 11 PM](https://user-images.githubusercontent.com/161748/81135360-b1960580-8f0c-11ea-83a3-badd1d3d45f0.png)

Unfortunately this color is not great in terms of color contrast with a white / light background for a11y:

![image](https://user-images.githubusercontent.com/161748/811

[2020-05-06 15:34] clhenrick opened #61 "Map Layers are slower to load now"
After integrating the global data in #54 I've noticed that the map layers take a little longer to load. I suspect this may be due to the larger tables we're now using in Carto for geographic administrative boundaries that are based on Natural Earth data, which are quite big by default.

A few things we could do to help this:

- [ ] 1. Remove extra columns in the global countries and states/provinc

[2020-05-06 21:02] timhitchins commented on #61
It's worth also noting that the CARTO SQL docs include some query optimization tips:
https://carto.com/developers/sql-api/guides/query-optimizations/

The main suggestion in the docs is to create indexes, which we should probably do in addition to the other suggestions.
https://www.postgresql.org/docs/11/sql-createindex.html

[2020-05-06 22:47] clhenrick commented on #61
+1 on creating indexes. I thought Carto did this by default when importing
new data but perhaps not.

-Chris
clhenrick.io

On Wed, May 6, 2020 at 2:02 PM Tim Hitchins <notifications@github.com>
wrote:

[2020-05-07 05:11] timhitchins commented on #61
@clhenrick I am no expert, but it seems to me that only half of the loading time is spent on the CARTO requests and the rest of the time is spent on client side geojson processing (the big gap is after the CARTO responses).
![image](https://user-images.githubusercontent.com/10737214/81256541-abc02300-8fe5-11ea-8600-3abe9f77f567.png)

I already tested out a solution for a loading indicator that wor

[2020-05-07 16:20] clhenrick commented on #61
@timhitchins thanks! I think you may be right, when I looked at the performance tab in Firefox it looks like a lot of style changes, paints, and garbage collection. Most of this time is spent in`handleData()`

![Screen Shot 2020-05-07 at 9 18 59 AM](https://user-images.githubusercontent.com/161748/81319029-f07aa700-9043-11ea-8740-ec3d27a3fa53.png)

![Screen Shot 2020-05-07 at 9 19 26 AM](https://u

[2020-05-07 16:21] clhenrick commented on #61
@timhitchins also thanks for looking into the loading indicator, let's table it for now until we can get #28 in if that sounds good to you?

[2020-05-07 16:48] timhitchins commented on #61
Sounds good @clhendrik.  I will look more into the performance tab in
Firefox as well.  I was looking for the right tool to get the detail you
found.

On Thu, May 7, 2020 at 9:21 AM Chris Henrick <notifications@github.com>
wrote:

[2020-05-12 01:01] clhenrick commented on #49
implemented in #60

[2020-05-12 01:01] #49 closed

[2020-05-12 01:03] clhenrick commented on #58
Hopefully #60 helps reduce confusion. We could also discuss implementing another form of spatial aggregation then clustering, but for now I think what we have done is an improvement so am closing this.

[2020-05-12 01:03] #58 closed

[2020-05-12 01:03] clhenrick commented on #11
implemented in #63

[2020-05-12 01:03] #11 closed

[2020-05-12 02:53] erinmcel opened #66 "Infowindows missing Resources link for national protections data"
It is currently not showing up, but was before. It is showing up for US data.

[2020-05-12 02:56] erinmcel opened #67 "Need to include geographies that have expired"
We don't always know the expiration date, and currently places that might have expired (but might not have as the dates change frequently) are missing on the map (ie. Massachusetts). Perhaps  we could show these as cross hatched.

[2020-05-12 18:36] erinmcel opened #68 "Not all popups have the policy summaries"
Since the most recent updates, not all regions have the policy summaries

[2020-05-12 19:51] clhenrick commented on #66
@erinmcel this makes me think that now that we have the [PR build previews via Netlify](https://deploy-preview-28--suspicious-easley-8d2764.netlify.app/) (also see [my Slack note about this](https://antievictionmap.slack.com/archives/C0101NLTHHB/p1588809939129200)), we can (and probably should) ask non-dev folks to take a look at any new changes before they are made live. This way we can have a be

[2020-05-12 19:53] clhenrick commented on #68
This is more of research team / data creation issue, so not sure this is the best place for it? Maybe a card on Trello for the research team would be better?

[2020-05-12 20:05] erinmcel commented on #68
Ah good point!

[2020-05-12 20:06] #68 closed

[2020-05-12 22:31] erinmcel commented on #66
I like this idea! I’ll better familiarize myself with it now.

[2020-05-13 15:48] clhenrick opened #69 "Add placeholder for missing Summary field in Infowindows"
Relates to #68

Placeholder text should be: "Policy summary coming soon."

[2020-05-13 20:49] river-honer opened #70 "Country and state name not showing in infowindow jurisdiction name"
The name of the jurisdiction is passed to the infowindow handlebars template with the `jurisdictionName` property. For all cities, the infowindow is only showing the city name.

We need to make sure that:
1. The query for each city should include the state and country name fields
2. When getting the props from the results in the `handleCitiesLayer` function, we should make sure we are accessing th

[2020-05-14 03:06] clhenrick commented on #44
Confirmed this is fixed via #28 using Browserstack:

![Screen Shot 2020-05-13 at 8 04 34 PM](https://user-images.githubusercontent.com/161748/81887917-0d880c00-9555-11ea-8f86-bcc1b8817531.png)

[2020-05-14 03:06] #44 closed

[2020-05-14 03:07] clhenrick commented on #70
Fixed via #28

[2020-05-14 03:07] #70 closed

[2020-05-16 04:32] erinmcel commented on #69
These are now all filled in with summaries

[2020-05-16 11:54] clhenrick commented on #69
Still a good idea to have a fallback one IMO, and potentially for other data fields as well to make the infowindows look more consistent from place to place. Maybe making a separate issue / Trello card would be a good idea.

[2020-05-16 19:02] clhenrick commented on #66
@erinmcel do you know what field in the sheet or Carto table this is?

[2020-05-16 22:14] river-honer opened #73 "Break index.js in to smaller pieces"
The large index.js file is an issue for collaboration, and we should break it up in to smaller files, imported in to index.js.

It's also important to set a reasonable scope for this. I would propose these files which group together big blocks of the index.js file:

* handleData.js - includes `handleData` and all of the `handle<jurisdiction>Layer` functions
* handleQueryParams.js - includes curren

[2020-05-17 03:26] clhenrick commented on #73
@river-honer thanks, this sounds like a good starting plan. I agree keeping a PR limited in scope for an initial module separation of the existing code is a good idea as well. We can always continue to refactor as we add new features and fix existing bugs.

One thing I've done in previous projects that have relied on Carto is to have a `queries.js` module that has all the SQL queries in it so that

[2020-05-17 07:40] river-honer commented on #73
Awesome, thanks for all the info to get started with, I'll run with that for now and we can catch up later 👍

[2020-05-17 21:19] river-honer opened #75 "RFC: Add loading circle"
From the UI perspective the site would be improved by a loading circle when the page loads and the long request to carto sheets.

[2020-05-17 21:52] clhenrick commented on #75
This is sort of a duplicate of #61, see discussion there for more info.

[2020-05-18 02:57] clhenrick commented on #66
@erinmcel looks like the values for the link field aren't being included with the data in Carto.
@azadag would you maybe check to make sure that they're being included?

[2020-05-18 18:52] timhitchins opened #78 "Implement state management"
As this app grows we will need to eventually include some process for managing state.  Conversations regarding future ui frameworks have revolved around including vue.js, which has its own state management. But there is no certainty for when this will be implemented.   In the meantime we need to consider another process that will be simple and not require a great deal of refactoring later, perhaps

[2020-05-18 19:54] #57 closed

[2020-05-19 21:08] clhenrick commented on #16
For the "v1" of adding i18n using @unixjazz's translation JSON, we may want to use the [Handlebars.JS](https://handlebarsjs.com) library as it supports [pre-compilation of templates](https://handlebarsjs.com/api-reference/compilation.html#handlebars-compile-template-options) which will make the language toggling a bit more performant.

Currently we're using MustacheJS for the popup and infowindow

[2020-05-20 20:45] river-honer commented on #66
Solved

[2020-05-20 20:45] #66 closed

[2020-05-21 00:35] erinmcel opened #79 "Need to link to 3rd survey on map text box"
There are currently 3 forms feeding the map: Rent strikes, US tenants protections, and global tenant protections. Only the first and third survey are currently linked. We weren't sure at first if we'd use the new form that we're now using for US protections globally, but today we decided not to as the questions on it are very US centric. So! We need to now be linking to all 3 forms. This doesn't i

[2020-05-21 00:36] erinmcel commented on #9
So this is now only an issue with the global tenants protection form.

[2020-05-21 09:24] #75 closed

[2020-05-21 17:41] erinmcel opened #80 "Change the wording and description of "rent strike" in the text box"
Perhaps to: “Fill  out to submit information about: Organizing, resistance, and mutual aid in the form of rent strikes, housing reclamation, solidarity work, squats, and more. Also fill out if you are looking for solidarity and resources to help cancel rent.”

(This rewording comes from conversations with community partners in the US and globally alike.)

[2020-05-23 18:18] timhitchins commented on #78
@clhenrick now that we have `d3.dispatch` and the pubsub about to get merged into any objections to closing this?

[2020-05-23 21:41] timhitchins commented on #61
I am gonna start to work on part 2 of this issue.  I know that #76 is still not merged into master, and that it addresses other aspects of this issue, but a loading screen/icon will still benefit slower networks.

[2020-05-24 03:23] #73 closed

[2020-05-24 03:24] clhenrick commented on #78
@timhitchins yeah I think we're good for now, closing.

[2020-05-24 03:24] #78 closed

[2020-05-24 03:24] clhenrick commented on #61
@timhitchins thanks, I just merged #76 so feel free to branch off from master to grab those changes

[2020-05-24 18:50] clhenrick opened #82 "Remove extra polyfill from index.html"
~~There are a couple scripts for polyfills included in the index.html file for Promises and Fetch~~
We don't need the polyfill for `fetch` in `index.html` after switching over to using Babel & Core-JS.

[2020-05-24 19:32] timhitchins commented on #80
@erinmcel To clarify:  we need to change the part that says "Where organized rent strikes are currently occurring or may be occurring" to the text you suggested right?
![image](https://user-images.githubusercontent.com/10737214/82763141-5728f000-9dba-11ea-95f4-fe9ccd75d97a.png)

[2020-05-24 19:36] timhitchins commented on #79
@erinmcel What do you want the new text referencing this to say?

[2020-05-24 19:56] erinmcel commented on #80
Thanks! This is something that @unixjazz has also been thinking through: https://antievictionmap.slack.com/archives/C012KH48SMP/p1590023278092900. Sound like instead of “rent strike,” we’re thinking of expanding the category to “housing justice action."

[2020-05-24 19:58] erinmcel commented on #79
So the tenant protections survey that exists can say: “Tenant protections beyond the US.” The 3rd (new) survey link would say “US tenant protections” and link to: https://docs.google.com/forms/d/e/1FAIpQLSdhYpQa66snIwgbF8OiATpAvNayhQHTZcke4wDK4JazehzEmQ/viewform

[2020-05-25 16:35] jimboweb opened #83 "State and county labels in wrong place on Android Chrome"
To reproduce:
- in Chrome on Android phone load map
- turn sideways to get landscape mode
- turn back to portrait mode
- click on a county or state

problem: label for county or state appears several hundred pixels above the county or state you clicked on .

[2020-05-25 17:18] jimboweb commented on #16
Another i18n issue that's not language-related is right now the map always loads with every layer but nations showing. It might be better to see where people are coming from. If they're outside it might be better to show different layers, for example show nations, cities and rent strikes and hide counties and maybe states Ideally we'd only show states if they're in a country where we have state da

[2020-05-25 17:32] clhenrick commented on #83
I suspect this may be related to how we determine whether or not a viewport is small enough for a mobile device (see `src/constants.js`).

[2020-05-25 17:35] clhenrick commented on #16
@jimboweb that's a good point, though for setting the language of the page AFAIK it's a better practice to use the browser's language setting rather than the user's location. This is because someone may be located in a country but does not speak that country's native language or does not prefer that language when they browse the web.

[2020-05-25 17:59] unixjazz commented on #16
@clhenrick: I am glad you mentioned the template system! I did not know it was on the table to substitute it. If we can use Handlebars, we can solve one of the problems I encountered when trying to dynamically translate text in Leaflet popups. @river-honer and I will work on this, document our suggestion, and report back.

@jimboweb: I see your point. I am still not entirely sure if we can have on

[2020-05-25 19:34] djbusstop opened #85 "Exploratory: not loading/displaying all features simultaneously"
Possible solution:

* Only fetch data that is visible in the browser viewport when the map first loads

* If the user pans or zooms, then refetch with a debounce

* Unknowns:
  * Add totally new layers, removing old points, or

* Potential issues:
  * When totally zoomed out, it's too many points?
    * Maybe we can fetch less of one of the layers?

[2020-05-25 19:36] clhenrick opened #86 "Add data disclaimer to map"
e.g.

cc @erinmcel does this look good?

[2020-05-25 20:29] erinmcel commented on #86
Looks good to me! Thanks for this. Not sure if we need the US and elsewhere?

[2020-05-25 21:00] #82 closed

[2020-05-26 03:41] clhenrick opened #87 "Update deploy script to include repo"
**Update (06/15/2020)** the site is now being served using Netlify which creates a build from master (any merge to master will update the build). However, we still have the https://antievictionmappingproject.github.io/covid-19-map/ URL serving the site as well. We should probably deprecate the latter at some point, but don't want things to break so are keeping it for now.

---

For folks who have

[2020-05-26 23:55] timhitchins commented on #87
Thanks for looking in this @clhenrick.  Looking at the linked docs, this does seem like the appropriate solution.

[2020-05-27 03:27] clhenrick commented on #87
No worries @timhitchins and feel free to tack this on to another PR.

I believe Netlify also deploys automagically when we push to master. If we ever end up buying a TLD name we can hook it up to Netlify (or Github Pages obviously).

[2020-05-27 23:53] clhenrick commented on #67
[Here's a prototype](https://observablehq.com/d/b7668b4a880426ac) showing how we might visualize policies that have expired using a pattern fill that uses the same color as the existing / non-expired policies.

Example showing states:
![image](https://user-images.githubusercontent.com/161748/83083249-82217700-a03a-11ea-885f-e5c4ee1c4ba5.png)

[2020-05-28 19:39] clhenrick commented on #67
Just noticed that something seems to be causing the pattern fills to not render on iOS Safari:

![image](https://user-images.githubusercontent.com/161748/83185626-1f82b680-a0e0-11ea-9ec7-08c7fc7a9f3c.png)

We’ll have to debug this before implementing it

[2020-05-29 13:23] clhenrick opened #90 "Move rent strikes data to Carto"
This issue is related to making the layers load faster (#61) and for the search feature we’re planning to implement.

Getting rent-strikes data into Carto requires a similar approach to how the evictions protections data is synced with Carto from a sheet in Dropbox. We'll also need to update how the data is fetched in `data.js` and have an SQL query in `queries.js`.

@azadag any chance you could w

[2020-05-29 16:49] erinmcel opened #91 "Need to add accreditation info somewhere"
There are some researchers and community groups whose policy descriptions and research we are incorporating into the map that we should credit somewhere. Off the top of my head, these include: Tenants Together, East Bay Housing Organizations, Community Justice Project, and Emily Benfer at Columbia University.

There are also community partners who we're working with that would be nice to list some

[2020-05-29 17:55] clhenrick commented on #91
Maybe this information should go in a separate “credits” page or section? Do we want to link to each partner’s website?

[2020-05-29 18:49] erinmcel commented on #91
Yes, that makes sense! If it's easier for now, I could just make this page on our main site and then we could link to it from the text box. It could be more incorporated into Brett's redesign later too if that makes sense.

[2020-05-29 19:32] clhenrick commented on #91
That sounds like a good temporary solution, and yeah I think it would make sense to have a separate page to credit the community partners and other affiliates (cc @bretthalperin ).

[2020-05-29 19:35] bretthalperin commented on #91
Makes sense, I will incorporate this in the next iteration.

[2020-05-29 19:40] clhenrick opened #93 "Use self-hosted version of static assets (JS & CSS dependencies)"
It's a [good idea host your own static assets for multiple reasons](https://csswizardry.com/2019/05/self-host-your-static-assets/), rather than grabbing them from CDNs.

I didn't do this when setting up the Webpack config in #28 but it shouldn't be that hard to do now. Basically each external dependency we're referencing in the `index.html` file should become a dependency in `package.json` & `yarn

[2020-05-29 19:43] clhenrick commented on #67
@azadag do you know what field we'll reference in the protections data to determine if a protection has expired or partially expired?

[2020-05-29 19:48] erinmcel commented on #67
@azadag merged the three expiration columns to create a 4th that lists the earliest expiration date. Column AZ.

[2020-05-29 19:49] clhenrick commented on #67
@erinmcel thanks, is the column name literally called "AZ"?

[2020-05-29 19:51] erinmcel commented on #67
Oh no! Sorry. "Earliest Date Expiration"

[2020-05-29 19:54] erinmcel commented on #67
And this is only for the US data. For the global data, there is only one column for expiration dates, called "End Date". In both tables (US and non-US), there are some entries in which we don't know expiration dates. They are current coming up as #N/A in the US data and as blank in the global data. Happy to change this if that makes sense.

[2020-05-29 20:35] #80 closed

[2020-05-29 20:35] #79 closed

[2020-05-29 20:47] erinmcel commented on #91
How about just linking to this for the time being at the bottom of the text box? https://antievictionmap.com/covid19-global.

[2020-05-29 23:09] timhitchins commented on #87
I tested this out and it worked as expected.  Just needs a PR or tacked on to another PR now.
cc  @clhenrick

[2020-05-29 23:13] timhitchins commented on #61
Part 2 of this issue was addressed with #81.

[2020-05-30 20:22] clhenrick opened #94 "Search UI and Geocoder"
This is for part 1 of the [Search by Location Milestone](https://github.com/antievictionmappingproject/covid-19-map/milestone/4).

## MVP:

- [ ] create a new component for a search input text UI
- [ ] search UI placeholder text (see @bretthalperin's [design mocks](https://docs.google.com/presentation/d/1fVF-Vyk7Xd2u-Zg2tiqVyNjxsEvd-sUPv0oUvprex3I/edit#slide=id.g87eed4f0e4_0_0), if it's too long t

[2020-05-30 20:27] clhenrick opened #95 "Advanced Search Results"
This is Part 2 of the Search by Location Milestone:

## MVP

- [ ] determine how the geocoded address is matched to protections legislation data at the city, county, state, and national levels
- [ ] determine what the UI should look like for displaying results to the user, including empty states for each admin level (perhaps use the infowindow for now)
- [ ] determine a reasonable search radius fo

[2020-05-30 20:30] clhenrick commented on #93
If someone takes this issue on it could be combined with #87

[2020-05-31 00:16] azadag commented on #67
Chris,

I'll export it as earliest_date_expiration...

On Fri, May 29, 2020 at 12:54 PM Erin McElroy <notifications@github.com>
wrote:

[2020-05-31 01:46] clhenrick commented on #67
To keep the client side handling of this simple, we'll want a single field in the Carto table that we can use to identify whether or not a geography has an expired protection.

@azadag thanks, what will the data type be for `earliest_date_expiration` ?

[2020-05-31 01:50] clhenrick commented on #94
Here's an [Observable Notebook]()https://observablehq.com/@mbostock/mapbox-fly-to showing how the MapBox Geocoding API works. We could also use the same API for creating an auto-complete feature for the search UI.

[2020-05-31 09:55] azadag commented on #67
whatever the date import type for carto works out to be?

On Sat, May 30, 2020 at 6:46 PM Chris Henrick <notifications@github.com>
wrote:

[2020-05-31 17:58] clhenrick commented on #67
@azadag I guess I'm wondering if it would make sense to have this field be a Boolean for simplicity sake. If it's a timestamp then we get into having to 1. converting the timestamp string into a Date object, and then doing UTC date comparison stuff for each geography to see if it is expired or not. IMO that's something that could just be done on the "backend" when running the script so that the cl

[2020-05-31 21:44] azadag commented on #67
yes that makes sense too. I updated the output to do that. will be synced soon.

[2020-05-31 22:51] azadag commented on #67
ok field: _earliest_date_expiration_bool_
Current if law is still in place,
Expired if expired.

[2020-05-31 22:54] azadag commented on #67
hmm do you have guidance for international date-time? or should i not complicate it?

[2020-06-01 00:53] azadag commented on #90
carto link is here: https://ampitup.carto.com/dataset/emergency_housing_actions

[2020-06-01 02:05] clhenrick commented on #90
Thanks @azadag !

[2020-06-01 04:25] clhenrick opened #98 "Layers Picker UI Component"
I think we've outgrown the default Layers UI that ships with Leaflet. It's also a bit confusing the way it currently labels and orders the map layers:

<img width="128" alt="image" src="https://user-images.githubusercontent.com/161748/83375751-c5eee600-a384-11ea-99f6-02caa0c3ba80.png">

We could of course update the layer names, but overall I think it would benefit from some minor design improveme

[2020-06-01 13:18] bretthalperin commented on #98
agreed it is not functioning as intended based on usability test findings. could we start rolling out the new design for this? not sure how we should go about the re-design in general, but hope to talk more concretely about that today.

[2020-06-01 16:16] clhenrick commented on #98
I think that’s a possibility, let’s chat about it more

On Mon, Jun 1, 2020 at 6:19 AM bretthalperin <notifications@github.com>
wrote:

--
-Chris
clhenrick.io

[2020-06-03 20:39] #93 closed

[2020-06-04 03:50] #90 closed

[2020-06-05 13:50] clhenrick commented on #67
@azadag I think it's usually best to store international datetime in UTC

[2020-06-08 03:52] erinmcel opened #102 "Add expiration date to housing protection popup"
So that viewers can see the expiration date

[2020-06-08 05:03] clhenrick commented on #102
@erinmcel @azadag do we have expiration dates for all geographies that have expired or will be expiring? If so what is the column name?

[2020-06-08 17:04] erinmcel commented on #102
For the US data, the column is "Earliest Date Expiration” and for the global data, it is “End Date”.

[2020-06-08 17:51] clhenrick commented on #102
Thanks @erinmcel

@azadag would it make sense to normalize these two columns to a generic column for the map to consume?

Also, given that there are 3 sub categories of protections, do we want to include expiration dates for each of those? At least for the U.S.? It seems like that might be more helpful for folks who are on the ground.

[2020-06-08 17:53] erinmcel commented on #102
Yes to having the 3 categories for the US! I had forgotten about that. So then 3 for the US and 1 for beyond the US.

[2020-06-08 17:58] clhenrick commented on #102
Great, then we just need to know what the 3 columns are for the U.S., and to make sure they're being pulled into CARTO as UTC timestamps.

[2020-06-08 18:03] erinmcel commented on #102
Sounds good. Right now they have the same column header in the Google sheet, “end date”, which I don’t want to mess up. @azadag can we change those header titles to reflect the different types of policies, ie “moratorium_end_date”, “rent_relief_end_date” and “court_end_date”?

[2020-06-09 23:34] clhenrick opened #104 "Setup Custom Domain"
Rather than continuing to use the `github.io` address for the project, let's set it up to be available on `covid19.antievictionmap.com`

This shouldn't be too difficult via Github Pages ([link to documentation](https://help.github.com/en/github/working-with-github-pages/managing-a-custom-domain-for-your-github-pages-site#configuring-a-subdomain)).

Assume @erinmcel will need to provide someone acc

[2020-06-11 04:01] clhenrick commented on #104
The site is now available at http://covid19.antievictionmap.com/

Just FYI we need to wait 24 hours for the SSL certificate propagates.

[2020-06-11 04:01] #104 closed

[2020-06-11 18:52] clhenrick commented on #87
Now that we're hosting the site using a custom subdomain we'll need to make sure that the CNAME file doesn't get deleted (or is recreated) whenever we deploy the site.

One way of doing this would be to `git cherry-pick 25d4099` the commit that created the CNAME file.

We may have to write our own `.sh` script to do this, not sure if the `gh-pages` npm package is capable of doing this or not.

[2020-06-11 19:05] clhenrick commented on #87
Probably an easier way to do this would be to add the CNAME file to master branch and then have Webpack copy it over to the `dist` directory using the `CopyWebpackPlugin` (this plugin is [already being used to copy over static assets](https://github.com/antievictionmappingproject/covid-19-map/blob/master/webpack.config.js#L242-L244), so should be simple to modify).

The contents of the CNAME file

[2020-06-14 14:54] bretthalperin commented on #102
I will add this to the re-design as well.

[2020-06-14 17:59] #67 closed

[2020-06-14 17:59] #102 closed

[2020-06-15 19:45] erinmcel opened #106 "Need to replace update Rent Strike form fields"
The current Housing Justice Action popups need to reflect the revised form (https://docs.google.com/forms/d/1_H63vF1zfHQQZfEiL8A98Fs9nwJWXp9CEYgeVbgBvDc/edit). The relevant fields should be:
"Are you participating in an housing justice action? What type of action?"
"When is your action taking place (when did it begin or will begin, when does it end)?"
"Why are you participation in a housing justic

[2020-06-16 18:30] azadag opened #107 "Data Schema for Existence and Expiration..."
Data Schema for Existence and Expiration

This would be for use on the map and the the pop ups, Brett is working on some designs and Chris has some language implemented when a specific expiration date exists (but we also will want to indicate if a specific protection exists, NOT the same thing)

![image](https://user-images.githubusercontent.com/987876/84813323-a7176300-afc4-11ea-981a-44002ae1b48f

[2020-06-17 00:00] clhenrick commented on #107
Thanks @azadag for laying this out very concisely.

For the first schema ask, we could show an un-ordered list of the protection types in the infowindow under a sub heading, for example it could look like:

### Types of Protection Policies:
- **Legislative/Executive Eviction:** Currently in effect.
- **Court-Based Eviction:** Not applicable.
- **Rent Relief:** Expiring soon.

or perhaps just make

[2020-06-18 12:37] bretthalperin commented on #24
@clhenrick you mentioned the possibility of designing tabs to visually separate housing justice action and legislation. I think that could work, but my hesitation is that it can obscure or make it more complex for the user to find the information. I can explore/test, but wondering what are your thoughts on using the latest design (one key/tab), but with a technical implementation such that housing

[2020-06-25 13:41] #16 closed

[2020-06-29 20:22] djbusstop commented on #91
@erinmcel do you think the link should be displayed right after the header, or down at the bottom?

[2020-06-29 21:08] erinmcel commented on #91
I think bottom would be fine!

[2020-06-29 21:14] timhitchins commented on #106
@erinmcel I have blocked out time later this week to work on this project.  I can take a look at this then if it hasn't been resolved.

[2020-06-29 21:18] erinmcel commented on #106
Great! Thanks Tim!

[2020-07-03 22:53] timhitchins commented on #106
@erinmcel  Is the linked google sheet with the new fields you mentioned currently reflecting these fields? I am not seeing it here:
https://docs.google.com/spreadsheets/d/1rCZfNXO3gbl5H3cKhGXKIv3samJ1KC4nLhCwwZqrHvU/edit#gid=0
or to the linked CARTO dataset:
https://ampitup.carto.com/dataset/emergency_housing_actions

[2020-07-03 23:20] erinmcel commented on #106
Ah! Okay I see the problem is that it’s in the raw data but not public data. I’ll fix that now.

[2020-07-03 23:29] erinmcel commented on #106
Okay, fixed in https://docs.google.com/spreadsheets/d/1rCZfNXO3gbl5H3cKhGXKIv3samJ1KC4nLhCwwZqrHvU/edit#gid=0. Just need Carto to sync at it should reflect the same

[2020-07-05 18:40] timhitchins commented on #106
Awesome. Thank you so much.  Will jump back on this as soon as I get a
chance.

On Fri, Jul 3, 2020, 4:29 PM Erin McElroy <notifications@github.com> wrote:

[2020-07-05 19:29] jimboweb opened #109 "Proxy to hide api keys"
We need a proxy requester so our api keys aren't visible either on public source code or on the client side. Something like what's described here:

https://blog.mauriciorobayo.com/how-to-hide-your-front-end-api-keys-ck6jqvll900y3dfs11u3x96tn

[2020-07-05 22:22] unixjazz commented on #106
@erinmcel: would it be possible to change the name of Column "A" from "Type" to "Strike_Type" so we maintain consistency across DBs as in: https://reclus.mapacovid19.online/api/hausjustice/json ?

[2020-07-06 00:03] azadag commented on #106
I can implement at the upload to carto level...
________________________________
From: unixjazz <notifications@github.com>
Sent: Sunday, July 5, 2020 3:22:40 PM
To: antievictionmappingproject/covid-19-map <covid-19-map@noreply.github.com>
Cc: Azad Amir-Ghassemi <azadamirghassemi@gmail.com>; Assign <assign@noreply.github.com>
Subject: Re: [antievictionmappingproject/covid-19-map] Need to replace up

[2020-07-06 00:25] unixjazz commented on #106
@azadag: thank you!  the plan is to send you a csv with the same fields (column names) w/ data from locations outside the US.

[2020-07-06 04:30] azadag commented on #106
Ok right now I download from the Google sheets, would that change?

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: unixjazz <notifications@github.com>
Sent: Sunday, July 5, 2020 5:25:47 PM
To: antievictionmappingproject/covid-19-map <covid-19-map@noreply.github.com>
Cc: Azad Amir-Ghassemi <azadamirghassemi@gmail.com>; Mention <mention@noreply.github.com>
Sub

[2020-07-06 17:15] unixjazz commented on #106
@azadag: I am not sure, but I do not think it will change any time soon. Meanwhile, I will send you the CSV and you can copy + paste onto the public Google sheet: https://reclus.mapacovid19.online/api/hausjustice/csv

[2020-07-07 01:04] timhitchins commented on #106
I just submitted a PR for this issue: https://github.com/antievictionmappingproject/covid-19-map/pull/112

[2020-07-07 18:36] #94 closed

[2020-07-07 23:19] clhenrick opened #113 "Translations of Sidebar broken on IE11"
Not sure when it happened but suspect it was after the i18n work was merged as the error in the console mentions the `vendors.js` bundle and no new dependencies were added until `i18next` was added.

Screenshot from Browserstack:

<img width="1997" alt="Screen Shot 2020-07-07 at 2 20 32 PM" src="https://user-images.githubusercontent.com/161748/86854538-75e2fd80-c06d-11ea-98f0-f8369cb99152.png">

o

[2020-07-07 23:23] clhenrick opened #114 "On mobile search results shrink map to 50% of viewport height"
When searching for a location on mobile, the map area is split to half of the height of the viewport.

I think this is because there is an event listener that responds to the Leaflet map popup open event which applies a class name that shrinks the map. This is so that the infowindow displays when a user taps on a data point on the map. Now it appears to be conflicting with the search implementatio

[2020-07-08 04:50] clhenrick opened #115 "On mobile, infowindows & map are displaying incorrectly"
When tapping on a housing justice action icon or emergency tenant protection geography, the UI is no longer being split correctly (50% map & 50% infowindow) and the content in the infowindow is obscured by the header. This probably has to do with the search bar CSS, but haven’t verified it.
cc @jimboweb

![image](https://user-images.githubusercontent.com/161748/86877408-b0fc2580-c09b-11ea-9433-f82

[2020-07-13 23:34] timhitchins commented on #61
Closing this issue based on out clean up talk today in the dev meeting.  Will be addressed in the design update.

[2020-07-13 23:34] #61 closed

[2020-07-13 23:35] timhitchins commented on #69
This issue has been addressed and can be closed per confirmation in the dev meeting.  Can make a separate issue if necessary.

[2020-07-13 23:35] #69 closed

[2020-07-13 23:36] timhitchins commented on #83
Bug was addressed by @jimboweb .

[2020-07-13 23:36] #83 closed

[2020-07-13 23:37] timhitchins commented on #106
This issue can be closed and was addressed in #112

[2020-07-13 23:37] #106 closed

[2020-07-15 00:42] clhenrick commented on #109
@jimboweb generally API keys that are meant to be used for frontend applications will allow for whitelisting URLs and/or IP address ranges to help prevent them from being abused, so a proxy may not be necessary.

For example, with the Bing Maps API keys you can do this in the developer settings:
https://blogs.bing.com/maps/2018-05/Announcing-Enhanced-Security-for-Bing-Maps-API-Keys

![image](https

[2020-07-15 03:40] jimboweb commented on #109
You're right. I've added the referrer rule. I still don't know if having the api key public is safe.

[2020-07-15 04:51] jimboweb commented on #109
So I tried to do that. I put in `https://covid19.antievictionmap.com/*` in the referrer rule, but when I use it I get a 401 error.

Do you know what I'm doing wrong?

[2020-07-15 19:33] jimboweb commented on #109
OK never mind I figured it out. By default I'm using the Brave browser that doesn't send the referer header, so when I tried it in Brave it doesn't work but in Chrome it works fine. That's a use case we have to consider but most people don't use this browser so I can turn on the referrer security and it'll be fine.

[2020-07-18 17:00] jimboweb commented on #115
Is this issue separate from #114? They seem to be the same problem.

The reason it's happening is because of the following lines in _map.css

`@media (max-width: 640px) {
  // when the infowindow & popup are open, reduce map height
  #root.aemp-popupopen #map {
    height: 50%; //this is the reason
  }

  // Hide map layers controls on mobile for now, as they get obscured
  #root.aemp-popupopen .l

[2020-07-18 17:01] jimboweb commented on #113
I can work on this but I don't currently have a browserstack account to test with IE11. Is there one available to do that?

[2020-07-20 17:37] clhenrick commented on #113
@jimboweb I have a personal Browserstack account you could use. Another option could be running Windows in a VM locally on your machine. Let me know which you would prefer.

[2020-07-20 23:46] clhenrick commented on #109
@jimboweb you may also want to add a rule for the Bing API that allows for the Netlify previews to work, perhaps something along the lines of `*--suspicious-easley-8d2764.netlify.app/*`

[2020-08-04 17:48] jimboweb opened #132 "Infowindow dropdown box collapses and text wraps when closed on browser on Chrome"
<img width="134" alt="Screen Shot 2020-08-04 at 1 37 14 PM" src="https://user-images.githubusercontent.com/11050658/89327139-6bf6ef00-d659-11ea-923d-01efe9d40fe5.png">

[2020-08-04 17:52] jimboweb opened #133 ""Don't show again" option on disclaimer"
So you only have to read it the first time you go to the site

[2020-08-04 18:00] jimboweb opened #134 "Make our own autocomplete app so we don't need to use Bing or similar"
To do this we will have to

- [ ] Get a good table of all cities (at least 2 million records or so)

- [ ] Get our own SQL database (or maybe put it in Carto?)

- [ ] Create a node backend app we can query to

I can do all this technically but it will involve making some organizational decisions, like getting our own database and having a backend. If people are interested in the idea I can make a

[2020-08-04 18:03] #87 closed

[2020-08-04 18:05] timhitchins commented on #115
Fixed with #117

[2020-08-04 18:05] #115 closed

[2020-08-04 20:51] #132 closed

[2020-08-04 20:52] timhitchins commented on #132
addressed in #135

[2020-08-10 17:34] djbusstop opened #139 "Localised country names"
Currently we are displaying the english country names when clicking on the map. To be consistent with our idea of not using english localisation for everything, it would probably be best to localise the names.

[2020-08-10 19:52] #9 closed

[2020-08-10 19:53] #91 closed

[2020-08-10 19:53] #86 closed

[2020-08-10 19:54] #107 closed

[2020-08-10 20:03] djbusstop opened #140 "Remove "Rent Sriking?" and move "Action Type" to top on Infowindow"

[2020-08-10 20:57] djbusstop opened #142 "Adjust uneven margins on info window box/key"
![key](https://user-images.githubusercontent.com/41007222/89830663-7c750100-db54-11ea-9b2d-9f43594558cc.png)

[2020-08-10 22:02] #85 closed

[2020-08-10 22:13] #142 closed

[2020-08-11 02:28] timhitchins commented on #109
@jimboweb ok to close this now that #117 is merged?

[2020-08-11 02:51] timhitchins opened #144 "Map key details toggle style breaks on safari"
After #117 was merged , the map key on safari/ ios wraps to the nex line.  See image.  A simple width change should fix that.  See image for context:

![image](https://user-images.githubusercontent.com/10737214/89852045-d79df800-db42-11ea-9d44-dfd4d3d53c26.png)

I will submit a pr for this.

[2020-08-11 17:45] timhitchins commented on #144
Fixed on #145

[2020-08-11 17:45] #144 closed

[2020-08-12 15:02] jimboweb commented on #109
Yes.

On Mon, Aug 10, 2020 at 10:28 PM Tim Hitchins <notifications@github.com>
wrote:

[2020-08-17 13:58] #140 closed

[2020-08-17 14:07] djbusstop opened #148 "Change "X" in the initial modal, to match "X" in infowindow popup"
This is the X used in the modal
![x1](https://user-images.githubusercontent.com/41007222/90405322-7d99b700-e09b-11ea-9559-8d25f02c991b.png)

It should be changed to look like this X which is used in the infowindow popup
![x2](https://user-images.githubusercontent.com/41007222/90405327-7e324d80-e09b-11ea-92c7-d1bf04cf915e.png)

[2020-08-18 17:48] timhitchins commented on #114
Closing because this was solved with #117

[2020-08-18 17:48] #114 closed

[2020-08-18 17:49] timhitchins commented on #109
Closing now that #117 is merged.

[2020-08-18 17:49] #109 closed

[2020-08-18 17:53] timhitchins opened #149 "Update modal to include contributor names"
The opening modal does not currently acknowledge the actual people that were involved in the creation of data, development of the map and translation of text.  The following text should be included:

[code]

Note: More names will be added in the coming days.  cc @erinmcel

[2020-08-18 17:59] timhitchins opened #150 "Change definition of stripes in key to 'STRIPES INDICATE EXPIRED POLICIES AND EVICTIONS'"
The map key definition for what the stripes represent needs to change from `STRIPES INDICATE EXPIRED PROTECTIONS` indicated here:
![image](https://user-images.githubusercontent.com/10737214/90548478-db80da00-e141-11ea-9283-4f5561f40368.png)

to ` STRIPES INDICATE EXPIRED POLICIES AND EVICTIONS`

[2020-08-18 18:06] timhitchins opened #151 "Adjust opacities so that layers are always visible"
Currently when a user hovers over features, it is hard to see when both the state and nation are the same color and on at the same time.

[2020-08-20 03:41] azadag opened #153 "test"

[2020-08-20 03:41] #153 closed

[2020-08-24 18:35] timhitchins commented on #150
I will take care of this quick one.

[2020-08-24 19:52] djbusstop opened #156 "Add eviction status to the protections layers"
Query field `eviction_status` on the city, county, state, and nation layers and pass it to the infowindow popup. Extend the popup to display this field if it exists.

[2020-08-24 20:02] #148 closed

[2020-08-24 20:58] timhitchins commented on #149
@erinmcel do you know if the names listed above are complete?  wasn't sure if any got added since last week.  thanks!

[2020-08-24 21:31] erinmcel commented on #149
Hi! Thanks for checking. Can we add Samantha Hanae Noh to the first part?

[2020-08-25 08:38] #150 closed

[2020-08-31 18:50] timhitchins commented on #151
After testing the opacities a bit more, it seems there are two options:

1. Decrease the opacity of all layers.  This is the opacity set to `0.7`.  It was `0.95` before.  All layers are on here:
![image](https://user-images.githubusercontent.com/10737214/91755467-0296cd00-eb80-11ea-8cdd-db6e20144e46.png)

2. Turn off the nations layer:
![image](https://user-images.githubusercontent.com/10737214/91

[2020-08-31 20:43] djbusstop opened #160 "WIP [RFC] - Moving to React"
*Work In Progress*

This is a proposed overview of the project undertaking to move the current project over to React. It also includes higher level discussion about a generic react map template, that would be built with configurability in mind. This template could then be forked and customised to match the app as it exists.

## Template
The "map app template" would be started with a create-react-a

[2020-09-04 18:30] timhitchins commented on #149
Addressed on #159

[2020-09-04 18:30] #149 closed

[2020-09-04 18:51] timhitchins commented on #160
@djbusstop Thanks for getting this started--  It is very exciting!

I think you laid out the template, configurability and downsides well.  Some questions about configurability:
- You mention switching to CSS / CSS variables.  If we are already going to be using CRA, is this totally necessary?  Just trying to understand the logic here.
- I really like the idea of an auto-generated legend that can

[2020-09-06 14:58] bretthalperin commented on #151
Hey thanks for posting this! I am thinking option 1 because I do not want to turn off the nations layer. But it is hard to tell what it will look like overall at 0.7. Do you think it will look not that different overall or do any other conflicts arise? I know this is a minor detail, so no huge urgency here but maybe we can adjust this at some point.

[2020-09-06 15:08] jimboweb commented on #139
I believe [this link](https://unicode-org.github.io/cldr-staging/charts/37/summary/root.html) has the data we'd need to do this.  I have a question though. If we have a location in, say, Chines, should we be using the Chinese (Han/Cantonese/etc., my freind who is an expert in Asian languages says they all use the same alphabet) characters? This will be useful to Chinese people, of course, but not

[2020-09-22 17:46] erinmcel opened #163 "Swap out form links"
We want to swap the current three google form links on the map (US protections, global protections, and housing justice actions) with two Airtable links: "Housing Protections" (https://airtable.com/shrMi8xtGqFIXtFyy) and "Housing Justice Actions and Landlord Retaliation" (https://airtable.com/shrI5HxbTqEFbk89Y). So we wouldn't have the US form anymore at all, and just have these two.

[2020-09-22 17:52] erinmcel commented on #163
@unixjazz  What do you think about these forms as they currently are?

[2020-09-22 22:32] erinmcel commented on #163
Not sure if we want to say "Landlord Retaliation" on the form or not..

[2020-09-24 02:28] unixjazz commented on #163
@erinmcel: we can substitute the links whenever you are all ready!  A few suggestions:

1. In the housing justice form question "Are you on rent strike?", there are some illegal characters that have been added (you might want to make sure they are UTF-8 before importing into Airtable, I think). "Yes, no, unsure" are replicated into 4 options. "Unsure" got duplicated due to the character in "sûres.

[2020-09-28 14:53] erinmcel commented on #163
Thanks @unixjazz !

@azadag do you happen to know how to swap out the data with a cleaned version in UTF-8 without losing new form changes? Still trying to figure that out.

@unixjazz - in terms of retaliation, what about: "Has your landlord threatened you for your inability to pay rent?"

[2020-09-28 19:46] erinmcel commented on #163
Also I think we can swap the links now and then continue to work on the data?

[2020-09-28 20:06] erinmcel opened #164 "Add "Evictions" as field that will populate in the popup"
We have this field in the US and global data

[2020-10-08 21:17] #163 closed

[2020-10-10 22:00] unixjazz commented on #164
I am closing this issue as it was solved with PR #166

[2020-10-10 22:00] #164 closed

[2020-10-13 15:39] brett-halperin opened #167 "Remove grey stroke around 'Few Tenant Protections' Policy Strength"
![image](https://user-images.githubusercontent.com/35778453/95883148-95fb1a80-0d48-11eb-8458-7c5706045894.png)

There is a grey border around 'few tenant protections' that I hope we can remove for consistent visual design.

[2020-10-13 23:42] Shinh18 commented on #167
I would like to work on this issue.
Please assign it to me.
Thank you

[2020-10-14 18:11] bretthalperin commented on #167
thanks so much!

cc: @timhitchins

[2020-10-22 16:28] erinmcel opened #169 ""Eviction Status" subheader says "Policy Summary" in popup, and data in popup is arranged weirdly"
For instance, if you look at Imperial County, you'll see two subheaders that say "Policy Summary." Also the order of the data is weird and doesn't really make sense.

[2020-10-22 16:28] erinmcel commented on #169
![Screen Shot 2020-10-22 at 12 27 19 PM](https://user-images.githubusercontent.com/8007917/96902121-1c5adf00-1462-11eb-88ba-4e464b29f014.png)
![Screen Shot 2020-10-22 at 12 27 26 PM](https://user-images.githubusercontent.com/8007917/96902128-1ebd3900-1462-11eb-9c41-da685811f66e.png)

[2020-10-22 16:29] #169 closed

[2020-10-22 16:34] erinmcel opened #170 "Eviction Status is still not showing up?"
For instance, if you look at Imperial County, Boston, or the City of Livermore, where we have eviction data, there is nothing about evictions in the popup.

[2020-10-22 17:56] timhitchins commented on #170
Thanks for catching this @erinmcel .  If this hasn't been addresses by Monday, I will have time to take a look.

[2020-10-22 17:58] erinmcel commented on #170
thanks Tim! Azad is also looking into it on the data side right now.

[2020-10-22 18:05] unixjazz commented on #170
Hi there:
The data is coming in and displaying correctly on the map.
I tested for cities, counties and states.

The problem is that it is not being displayed in the search results.
Under <script id="search-result-infowindow-template" type="x-tmpl-mustache">, we would have to add:
[code]

[2020-10-23 19:34] unixjazz commented on #170
here is a PR to include "eviction status" to the search results template: #171

[2020-10-24 02:41] Shinh18 commented on #167
Hey @bretthalperin Can you label this issue as Hacktoberfest? Actually, it is part of my school assignment to submit PRs to solve issues in open source project while participating in Hacktoberfest

[2020-10-24 16:43] bretthalperin commented on #167
@Shinh18 i think that worked but if not lmk!

[2020-10-26 21:09] Shinh18 commented on #167
Thankyou!

[2020-11-16 20:29] brett-halperin commented on #167
@Shinh18 are you still interested in helping with this?

[2020-11-17 03:27] Shinh18 commented on #167
@brett-halperin I already linked a PR for this issue a month ago.

[2020-11-29 20:03] erinmcel opened #172 "Info window text changes to better highlight evictions"
Can we change the first survey form title on the infobox from "Global Housing Protection Legislation" to "Evictions and Eviction Moratoriums." And can the second be changed from "Housing justice actions around the world" to "Housing Justice Actions and Landlord Harassment"?

What about changing the title of the map, which is super long, to "Covid-19 Housing Map"?

[2020-11-30 20:47] brett-halperin opened #173 "Highlight survey link yellow in modal"
<img width="423" alt="highlight yellow" src="https://user-images.githubusercontent.com/35778453/100662491-f824d480-3322-11eb-8689-99cdd9528f81.png">

Can we highlight "survey here" in yellow (color code: #FEFF54) in the modal (see image for example)

@benjaminben @timhitchins @isthewhiz

[2020-11-30 20:49] erinmcel commented on #172
We can keep the name of the map as it is and just change the name of the surveys too.

[2020-12-01 04:01] isthewhiz commented on #173
How would I pull this issue down ?
In my command line I wrote:
git checkout master
git pull upstream/master
git fetch upstream pull/173/head:pr173
no luck

[2020-12-05 20:41] erinmcel commented on #173
We actually don't need this survey link at all anymore as now the landlord retaliation question has been inserted into the Housing Justice Action survey that is accessible on the main map page.

[2020-12-05 20:43] erinmcel commented on #173
See issue https://github.com/antievictionmappingproject/covid-19-map/issues/172 in terms of renaming the survey in the map to reflect that we're now collecting LL retaliation info there

[2020-12-06 00:28] timhitchins commented on #173
@isthewhiz you wanna try this out and tag me in a PR?  If not I can fix
this tomorrow likely @erinmcel.  Thanks for catching all this.

On Sat, Dec 5, 2020, 12:43 PM Erin McElroy <notifications@github.com> wrote:

[2020-12-06 20:23] isthewhiz commented on #173
I just saw this email, I have it open and it’s gonna take me a second to see what’s the issue. I’ll take a look at it and if I have any questions I’ll message you Tim.

Sent from my iPhone

[2020-12-06 21:51] isthewhiz commented on #173
Ok, I got it done but need some review to see if I actually did it correctly?
Hopefully hear from you guys soon.
-Nardo

Sent from my iPhone

[2020-12-06 23:03] brett-halperin commented on #173
I was thinking we could just leave it as is shown in the pic uploaded here, but swap the link to this one: https://airtable.com/shrI5HxbTqEFbk89Y - I realize that'd make it redundant, but the idea was to make it more prominent (once Maya was able to confirm which survey link was the right one). Maybe we could clear this up at the group meeting tomorrow before pushing it. Sorry for all the back and

[2020-12-07 02:53] erinmcel commented on #173
Thanks everyone! This all sounds good to me. So yes let’s talk through it tomorrow just to make sure we’re all on the same page with the surveys?

[2020-12-07 14:45] djbusstop commented on #172
I think this is done, since I merged #175

[2020-12-07 20:28] #172 closed

[2020-12-07 20:32] #167 closed

[2020-12-07 20:33] djbusstop commented on #173
So far we have added highlighting

To close this issue, we should:
* Highlight entire sentence about the survey.
* Change the link on the survey to the correct link -> https://airtable.com/shrI5HxbTqEFbk89Y
* Change text to -> "If you are experiencing evictions or landlord harassment, or want to share your story, you can also fill out our survey here. "

[2022-03-24 21:29] brett-halperin opened #197 ""Last updated" on protections map is inaccurate(?)"
Hi everyone, in the pop up info window boxes on the protections map, it says "last updated Apr 20, 2021" for all of them. I just want to confirm that is accurate? If I recall correctly, that date was from my mock-up, but I am not sure that information is actually accurate. Apologies if this was corrected and I am getting this wrong. Thanks!

<img width="301" alt="image" src="https://user-images.gi

[2022-03-26 01:20] #197 closed, assigned to boraerden, brett-halperin, lisjak

[2022-03-26 01:20] lisjak commented on #197
solved by #127 in the react repo